{% extends "core/base.html" %}

{% block content %}
  <div class="container mt-5 text-center">
    <div class="row justify-content-center"> <!-- Center-align the content -->
      <div class="col-md-8">
        <h2>About Our Reviews Classification Tool</h2>
        <p>
          Welcome to our Online Sneaker Store Reviews Classification Tool. Please comment and rate our shoes. 
        </p>
        <p>  
          Our state-of-the-art algorithm classify the comment with high accuracy, helping us to make informed decisions and improvements.
        </p>

        <h3>How It Works</h3>
        <p>
          Start by rating one of our products, then write your thoughts about them in the input box on the home page and click the "Review Analysis" button. 
        </p>
        <p>  
          The Tool will evaluate the text and classify it as positive, negative, or neutral.
        </p>

        <h3>Use Cases</h3>
        <p>
          Our Reviews Classification Tool can be useful for a variety of purposes, including:
        </p>
        <ul>
          <li>Understanding the needs of customers</li>
          <li>Helping us to make informed decisions and improvements</li>
        </ul>

        <h3>Privacy and Data Usage</h3>
        <p>
          We respect your privacy, and no data entered into the app is stored or shared.
        </p>

        <h3>Contact Us</h3>
        <p>
            For more information or queries, contact <a href="mailto:info@sneakerclub.com">info@sneakerclub.com</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
